body{
  margin: 0;
  padding: 0;
  background-color: #FFE8E5;
  color: #B86B77;
  
}

header{
  display:flex;
  justify-content:space-between;
  border-bottom: 3px solid white;
  padding: 10px;
  color:white;  
  margin-bottom: 40px;
}

.logo img{
  width: 170px;
  height: auto;
}


header a{
  text-decoration: none;
  color: #a8326b;
}

.pesquisa{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pesquisa input{
  width: 200px;
  border: 2px solid white;
  border-radius: 8px 8px 0 8px;
  transition: border-color 0.3s;
  box-shadow: 2px 4px 6px black;
}

.pesquisa input:hover{
  border-color: #eb0976;
}

.pesquisa button{
  border: 2px solid #f74780;
  border-radius: 2px;
  background-color: #ffe4ec;
  color: #f700a9;
  transition: background-color 0.3s;
  box-shadow: 2px 4px 6px black;
  transition: shadow-color;
}

.pesquisa button:hover{
  background-color: fdb4bf;
  shadow-color: red;
}

.produto-principal{
  display: flex;
  background-color: #B86B77;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  color: white;
}

.imagem-produto img{
  width: 500px;
  height: auto;
  border-radius: 10px;
  padding: 5px;
    
}

.detalhes-produto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome-produto {
  font-size: 50px;
  color: pink;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 5px;    
}

.preco-produto{
  font-size: 2em;
  color: pink;  
}

.botoes{
  display: flex;
  gap: 5px;
}

.botoes button{
  background-color: pink;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 2px 8px;
  width: 200px;
  cursor: pointer;  
}

.botoes button:hover {
  background-color: #FC94AF;
}

.footer{
  text-align: center;
  
}

